.cardStacking {
    overflow: hidden;
    padding: 0px 0;
}

.cont {
    min-height: 800px;
    border-radius: 40px;
    opacity: 1;
    max-width: 1840px;
    margin: 0 auto 20%;
}

.cont h1 {
    padding-bottom: 18px;
}

.cont h2 {
    margin: 2rem auto 0;
}

.cardStacking .stackCard {
    background-color: #141414;
    min-height: 754px;
    border-radius: 30px;
    position: relative;
    width: 100%;
    margin-bottom: 10%;
    box-shadow: 0px 0px 20px 15px rgb(15, 15, 15, 0.3);
}

.stackCard__body {
    overflow: hidden;
    padding-bottom: 100px;
}

#stackedLast {
    height: 800px;
}

.proj-info h2 {
    margin-bottom: 0%;
}

.proj-info {
    margin: 0;
    display: flex;
    height: 200px;
    font-size: 2rem;
    justify-content: space-around;
    align-items: first baseline;
    padding: 0 4% 13%;
}

.info p {
    margin-top: 1%;
    font-size: 1.4rem;
}

.info,
.tech {
    width: -moz-available;
}

.tech {
    font-size: smaller;
    font-weight: 100;
    display: flex;
    flex: 0 0 30%;
    justify-content: space-around;
    gap: 20px;
}

.showcase {
    background: rgb(20, 20, 20);
    background: linear-gradient(0deg, rgba(20, 20, 20, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(209, 209, 209, 1) 80%, rgba(20, 20, 20, 1) 100%);
    height: 370px;
    /* margin: 0 -2%; */

}

.tranding-slide .tranding-slide-img img {
    /* width: auto ; */
    height: 28rem;
    /* position: relative; */
    border-radius: 2rem;
    object-fit: cover;
    transition: 0.4s ease-in-out;
    box-shadow: -10px 0 80px -8px black, 10px 0 80px -8px grey, 0px -110px 50px -100px #fff;
    /* top: -40px; */
    /* box-shadow: 0px 0px 60px -30px #fff; */
}

.swiper {
    /* width: 100%; */
    overflow: visible;
}

.swiper-slide {
    width: 16.75rem;
    height: 24.125rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: self-start;
}

.swiper-slide-active img {
    box-shadow: -10px 0 80px -8px black, 10px 0 80px -8px grey, 0px -110px 200px -100px #fff;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.swiper-slide-prev,
.swiper-slide-next {
    filter: blur(0.5px);
}

/* -------------------media query------------ */
@media screen and (max-width:1054px) {
    .showcase {
        margin: 12% auto;
        height: 300px;
    }

    .cont h1 {
        margin-top: 600px;
    }

    .cardStacking .stackCard {
        min-height: 630px;
        height: 750px;
    }

    .tranding-slide {
        /* width: 28rem ; */
        height: 18rem;
    }

    .tranding-slide .tranding-slide-img img {
        /* width: 46rem ; */
        height: 22rem;
        /* box-shadow: 0px 0px 60px -30px #fff; */
    }

    /* #stackedLast{
        height: 700px ;
    } */
}

@media screen and (max-width:796px) {
    .showcase {
        height: 240px;
    }

    .proj-info {
        /* font-size: 1.3rem; */
        flex-direction: column;
        height: auto;
    }

    .tranding-slide {
        width: 29.5rem;
        height: 18rem;
    }

    .tranding-slide .tranding-slide-img img {
        width: 33rem;
        height: 16.2rem;
        border-radius: 1rem;
        /* box-shadow: 0px 0px 60px -30px #fff; */
    }
}

@media screen and (max-width:546px) {
    .hide-proj {
        display: none;
    }

    .cardStacking {
        margin: 0 0 32%;
    }

    .cardStacking h1 {
        background: -webkit-linear-gradient(#eee 45%, #141414);
        background-clip: inherit;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: -70px;
        margin-left: -12px;
    }

    .proj-info {
        font-size: 1.3rem;
    }

    .proj-info p {
        font-size: 0.8rem;
    }

    .tranding-slide .tranding-slide-img img {
        width: 100%;
        height: 10rem;
        border-radius: 5px;
        margin-top: 40px;
        /* box-shadow: 0px 0px 60px -30px #fff; */
    }

    .cardStacking .stackCard {
        min-height: auto;
        height: auto;
    }

    .stackCard__body {
        padding-bottom: 10px;
    }

    #stackedLast {
        height: auto;
    }
}
/* --------------------text scroll effecr---------- */
.cd-words-wrapper {
    display: inline-block;
    position: relative;
    /* text-align: left; */
}

.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.cd-words-wrapper b.is-visible {
    position: relative;
}

.no-js .cd-words-wrapper b {
    opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}

/* -------------------------------- 

xrotate-1 

-------------------------------- */
.cd-headline.rotate-1 .cd-words-wrapper {
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
}

.cd-headline.rotate-1 b {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.cd-headline.rotate-1 b.is-visible {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-animation: cd-rotate-1-in 1.2s;
    -moz-animation: cd-rotate-1-in 1.2s;
    animation: cd-rotate-1-in 1.2s;
}

.cd-headline.rotate-1 b.is-hidden {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-animation: cd-rotate-1-out 1.2s;
    -moz-animation: cd-rotate-1-out 1.2s;
    animation: cd-rotate-1-out 1.2s;
}

@-webkit-keyframes cd-rotate-1-in {
    0% {
        -webkit-transform: rotateX(180deg);
        opacity: 0;
    }

    35% {
        -webkit-transform: rotateX(120deg);
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(360deg);
        opacity: 1;
    }
}

@-moz-keyframes cd-rotate-1-in {
    0% {
        -moz-transform: rotateX(180deg);
        opacity: 0;
    }

    35% {
        -moz-transform: rotateX(120deg);
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    100% {
        -moz-transform: rotateX(360deg);
        opacity: 1;
    }
}

@keyframes cd-rotate-1-in {
    0% {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }

    35% {
        -webkit-transform: rotateX(120deg);
        -moz-transform: rotateX(120deg);
        -ms-transform: rotateX(120deg);
        -o-transform: rotateX(120deg);
        transform: rotateX(120deg);
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
        -ms-transform: rotateX(360deg);
        -o-transform: rotateX(360deg);
        transform: rotateX(360deg);
        opacity: 1;
    }
}

@-webkit-keyframes cd-rotate-1-out {
    0% {
        -webkit-transform: rotateX(0deg);
        opacity: 1;
    }

    35% {
        -webkit-transform: rotateX(-40deg);
        opacity: 1;
    }

    65% {
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(180deg);
        opacity: 0;
    }
}

@-moz-keyframes cd-rotate-1-out {
    0% {
        -moz-transform: rotateX(0deg);
        opacity: 1;
    }

    35% {
        -moz-transform: rotateX(-40deg);
        opacity: 1;
    }

    65% {
        opacity: 0;
    }

    100% {
        -moz-transform: rotateX(180deg);
        opacity: 0;
    }
}

@keyframes cd-rotate-1-out {
    0% {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }

    35% {
        -webkit-transform: rotateX(-40deg);
        -moz-transform: rotateX(-40deg);
        -ms-transform: rotateX(-40deg);
        -o-transform: rotateX(-40deg);
        transform: rotateX(-40deg);
        opacity: 1;
    }

    65% {
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }
}