@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Montserrat:wght@800&family=Tiro+Devanagari+Hindi&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  line-height: calc(1em + 0.5rem);
  /* cursor: none; */
  
}

html{
  scroll-behavior: smooth;
  background-color: #20262E;
  color: aliceblue;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background-image:
    linear-gradient(white 0.01rem,
      transparent .05rem),
    linear-gradient(90deg,
      white 0.01rem,
      transparent .05rem);
  background-size: 5rem 5rem;
  overflow-x: hidden;
}
section{
  margin: auto;
}

.container {
  border-radius: 40px;
  opacity: 1;
  max-width: 1840px;
  margin: auto auto 20%;
  box-shadow: 0px 0px 20px 15px rgb(15, 15, 15, 0.7);
}
h1{
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 18rem;
  background: -webkit-linear-gradient(#141414 28%, #eee);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.9;
  margin-top: 600px;
}

  /* --------------------navbar section----------------- */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1888px;
  margin: auto;
  padding:0 64px;
}

.logo {
  color: #b4b4b4;
  text-decoration: none;
  font-size: 1.5rem;
}


.nav-side a{
  font-size: 1.5rem;
  border: none;
  margin-left: 4rem;
  text-decoration: none;
  color: #b4b4b4;
}

.toggle-button{
  position: absolute;
  top: 2.4rem;
  right: 3rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

h2{
  color: #F15412;
}

.heading {
  text-align: center;
  padding: 1% 1%;
  font-size: 3rem;
}

/* -------------------home section------------- */

#home{
  margin: auto;
  max-width: 1840px;
  height: 90vh;
  font-family: 'DM Sans', sans-serif;
  font-family: 'poppins',sans-serif;
  font-weight:700;
  font-size: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2% 1%;
}

.about-me{
  display: flex;
  align-items: end;
  margin-top: 4%;
  width: 75%;
  height: 100%;
  align-content: end;
  animation: 2s cubic-bezier(0.5, 0, 0, 1) 0.2s slideIn;
}
.about-me p{
  font-size: 6vw;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.side-image{
  width: 25%;
}
.side-image img {
   /* margin: 14% -5% 0%; */
  /* object-fit: contain; */
  height: 500px;
}

.namaste{
  margin: 0 ;
  color: #F15412;
}

#footer{
  text-align: center;
  background-color: #20262E;
  font-size: large;
}


/* ----------effect----------- */

#cursor-border {
  --size: 50px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  /* box-shadow: 0 0 0 1px white; */
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}

/* ----------------media query---------------- */

@media screen and (max-width:1788px){
  .container{
    margin:0 0 52%;
  }
  h1{
    font-size: 16vw;
  }
  p{
    font-size: 7vw;
  }
}

@media screen and (max-width:1054px){
  header{
    padding:0 32px;
  }
  #home{
    height: 60vh;
  }
  .nav-side a{
    margin-left: 2rem;
  }
}

@media screen and (max-width:796px){
  .toggle-button{
    display: flex;
  }
  header{
    position: fixed;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding:0;
    z-index: 5;
    background-color: #20262e;
    height: 76px;
    top: -1%;
    left: -1%;
  }
  .logo{
    padding: 0 32px;
  }
  .nav-side{
    position: absolute;
    width: 100%;
    height: calc(100vh - 90px);
    left: -100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    /* z-index: 5; */
    background-color: #000000aa;
    backdrop-filter: blur(30px);
    transition: all 0.3s ease-out;
  }
  #header.active{
  background-color: #000000aa;
  backdrop-filter: blur(30px);
  transition: all 0.2s ease-out;
  }
  .nav-side.active{
    left: 0;
  }
  #home{
    padding-top: 222px;
    flex-direction: column;

  }
  .about-me{
    display: block;
    text-align: center;
    width: 100%;
  }
  .about-me p{
    font-size: 2.4rem;
  }
  
}